@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  /* background-image: url('http://localhost:3000/background.jpg');   this is for local npm start*/
  background-image: url('../public/background.jpg'); 
  background-repeat: none;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.495);
  min-height: 100vh; 
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(187, 141, 56, 0.79);
  height: 15vh;
  border-bottom: 30px white solid;
  font-size: 3rem;
  word-spacing: 3rem;
  font-family: 'Rubik Beastly', cursive;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  margin: 30px;
  padding: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset -5px -20px 10px rgb(241, 241, 167), 
  3px 5px 10px 5px rgb(241, 241, 167, 0.666);
}

.item-content {
  background-color: rgb(187, 141, 56);
  border-radius: 10px;
  padding: 5px;
}

.item-title, .item-facts {
  padding: 6px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: .2px;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 1.5px;
  word-spacing: 2px;
}

.item-image{
  height: 175px;
  width: 250px;
  object-fit: contain;
}

img {
  border-radius: 10px;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

select {
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 30px;
  height: 40px;
  width: 200px;
  color: white;
  background-color: rgb(187, 141, 56);
  text-align: center;
  border: none;
  border-radius: 8px;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 1.5px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: .2px;
}

select:focus {
  outline-color:rgb(92, 70, 28);
}

.no-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw;
}

.no-images > h1{
  font-size: 200px;
  font-family: 'Rubik Beastly', cursive;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.acknowledgement {
  color: white;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  position: relative;
  top: 100px;
}

.acknowledgement > a {
  color: rgb(187, 141, 56);
}
